<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="author" content="PIXINVENT">
  <title>管理后台</title>

	
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/js/jquery.magnific-popup.js}" type="text/javascript"></script>
<link rel="stylesheet" th:href="@{/assets/css/login.css}">
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">

<link th:href="@{/assets/css/popup-box.css}" rel="stylesheet" type="text/css" media="all"/>
<script>

    $(document).ready(function() {
      $('.popup-with-zoom-anim').magnificPopup({
          type: 'inline',
          fixedContentPos: false,
          fixedBgPos: true,
          overflowY: 'auto',
          closeBtnInside: true,
          preloader: false,
          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-zoom-in'
      });
    });

</script>
</head>
<body>
	
	<section class="canvas-wrap">
	<div id="canvas" class="gradient"></div>
</section>
	
<div style="position:absolute; z-index:100; width: 100%">
	
<h1>管理后台</h1>
<div class="w3layouts">
  <div class="signin-agile">
    <h2 th:text="#{login.tip}"></h2>
    <form th:action="@{/login}" method="post">
      <input type="text" name="username" class="name" th:placeholder="#{login.username}" required="required">
      <input type="password" name="password" class="密码" th:placeholder="#{login.password}" required="required">
      <div>
        <input type="checkbox" id="brand1" name="remember" th:text="' '+#{login.remember}">
        <a href="#" style="font-size: 15px" th:text="#{login.forgetPassword}"></a><br>
      </div>
      <div class="clear"></div>
      <input type="submit" th:value="#{login.btn}">
    </form>
  </div>
  <div class="signup-agileinfo">
    <h3 th:text="#{login.register}"></h3>
    <div >
      <p th:text="#{login.registerMessage}"></p>
    </div>
    <div class="more">
      <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" onclick="func()" th:text="#{login.registerNow}"></a>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="footer-w3l">
  <p class="agileinfo"> &copy; 2018 Sign In And Sign Up Forms . All Rights Reserved | Design by <a href="https://shop303982252.taobao.com">源代码设计</a></p>
  <div class="changeLanguage" style="text-align: center">
    <a class="btn btn-sm" th:href="@{/login(l='zh_CN')}" style="color:white;font-size: 15px">中文</a>
    <a class="btn btn-sm" th:href="@{/login(l='en_US')}" style="color:white;font-size: 15px">English</a>
  </div>
</div>
	
</div>
	 
	 
	 
<div class="pop-up">
  <div id="small-dialog" class="mfp-hide book-form">
    <h3>注册信息</h3>
    <form action="#" method="post">
      <input type="text" name="Name" placeholder="名字" required=""/>
      <input type="text" name="Email" class="email" placeholder="邮件地址" required=""/>
      <input type="password" name="Password" class="password" placeholder="密码" required=""/>
      <input type="password" name="Password" class="password" placeholder="确认密码" required=""/>
      <input type="submit" value="注册">
    </form>
  </div>
</div>
<script th:src="@{/assets/bgjs/three.min.js}"></script>
<script th:src="@{/assets/bgjs/projector.js}"></script>
<script th:src="@{/assets/bgjs/canvas-renderer.js}"></script>
<script th:src="@{/assets/bgjs/3d-lines-animation.js}"></script>

<script th:src="@{/assets/bgjs/color.js}"></script>
<script th:inline="javascript">
  let func = () => {
    window.location.href = /*[[@{/register}]]*/ null;
  }
</script>
	
</body>
</html>