<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" th:href="@{/css/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>
<br><br><br>
<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui negative message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="header">
                        校验失败
                    </div>
                    <p th:text="${message}"></p>
                </div>
                <h2 class="ui teal image header">
                    <div class="content">
                        用户注册
                    </div>
                </h2>
                <form class="ui large form" method="post" th:action="@{/register/register}">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" id="username" name="username" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" name="email" id="email" placeholder="邮箱">
                                <input type="button" id="getcode" class="ui grey label" value="获取验证码">
                            </div>
                        </div>
                        <div class="code field"  style="display:none" >
                            <div class="ui left icon input">
                                <i class="check square outline icon"></i>
                                <input type="text" name="identify" id="identify" placeholder="验证码">
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button" id="register-btn">注 册</button>
                    </div>
                    <div id="isRepeat"></div>
                    <div class="ui error mini message"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.5.1.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/jquery.cookie.min.js}" ></script>
<script th:src="@{/js/semantic.min.js}"></script>
<script th:src="@{/js/me.js}"></script>
</body>
</html>