<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="swjtu.syyymq.mapper.RoleMapper">
    <insert id="add" parameterType="role">
        insert into role(id,nameEN,nameZH) values (null,#{nameEN},#{nameZH})
    </insert>

    <update id="update" parameterType="role">
        update role set nameEN=#{nameEN},nameZH=#{nameZH} where id=#{id}
    </update>

    <delete id="delete" parameterType="String">
        delete from role where nameEN=#{nameEN}
    </delete>

    <select id="findAll" resultType="role">
        select * from role
    </select>

    <select id="findByEName" parameterType="String" resultType="Role">
        select * from role where nameEN=#{nameEN}
    </select>
</mapper>